<!DOCTYPE html>
<html>
<head>
  <title>Dairy Products</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Dairy Products</h1>
  <a href="/categories">Add Category</a> | 
  <a href="/products">Add Product</a>
</body>
</html>
